<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobiru Plataforma Estudiantil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">NOBIRU</div>
        {% if session.get('user_id') %}
      <div class="nav-links">
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{ url_for('quiz') }}">Cuestionarios</a>
    <a href="{{ url_for('comunidad') }}">Comunidad</a>
    <a href="{{ url_for('biblioteca') }}">Biblioteca</a>
    <a href="{{ url_for('reels') }}">Reels</a>
    <a href="{{ url_for('logout') }}" class="btn-logout">Cerrar Sesión</a>
</div>
        {% endif %}
    </nav>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
